.theme-switcher-container {
  grid-area: windows;
  display: flex;
  /*align-items: flex-start;*/
  justify-content: center;
  height: 100%;
  width: 100%;
  /*border: 1px solid orange;;*/
}

/*--------------------------------Window-----------------------------------*/
.windows-container {
  position: relative;
  display: flex;
  width: 100%;
 height: auto;
  justify-content: center;
  align-items: center;
 /*border: 1px solid blue;*/
  /*margin-top: -250px;*/
}

.windows {
  position: absolute;
  top: 0%;
  left: 0;
  width: 110%;
  height: auto;
 /* border: 1px solid purple;*/
  margin-left: -30px;
}

.image-in-windows {
  width: 110%;
  height: auto;
  position: absolute;
  margin-left: -30px;
  top: 0;
  left: 0;
}

/*---------------------------------switch buttons-------------------------------*/
.switchbtn-image {
  width: 80%;
  height: auto;
}
.switch-btn.active {
  margin-top: 30px;
}
.switch-btn-container {
  width: 60%;
  height: auto;
  display: flex;
  /*margin-top: -100px;*/
  /*border: 1px solid green;*/
  /*margin-left: 100px;*/
  position: absolute;
  top: 5%;
  
}
.switch-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

/*--------------------curtain---------------*/
.curtain-image {
  width: 100%;
  height: auto;
}
.curtain-container {
 /* border: 1px solid red;*/
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overcurtain-image{
  width: 100%;
  height: auto;
  
}
.overcurtain-container {
  position: absolute;
  top:0;
}
/*--------------media queries-------------*/
@media (max-width: 1000px){
.windows-container {
  position: relative;
  display: flex;
  width: 110%;
  
 height: auto;
  justify-content: center;
  align-items: center;
 /*border: 1px solid blue;*/
  /*margin-top: -250px;*/
}
.curtain-container {
 
  width: 60%;
}
}