.notebook-books {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.books-list-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.add-book-btn {
  height: 50px;
      border: 1px solid orange;
      border-radius: 8px;
      background-color: rgb(182, 150, 120);
}
