.chapter-inwardly-container {
    width: 60vw;
    height: 100%;
    /*border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.chapter-content {
    width: 100%;
    height: 80%;
    padding: 15px;
    background-color: rgb(33, 33, 33);
    border-radius: 12px;
    box-shadow:
    inset 3px 3px 3px rgba(0, 0, 0, 0.1),
    inset 1px 1px 5px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 0.05); /* легкая внешняя тень */
    border: 1px solid rgb(48, 48, 48);
}
.chapter-title {
    text-align: center;
    height: 8%;
    border-radius: 12px;
    box-shadow:
    inset 3px 3px 3px rgba(0, 0, 0, 0.1),
    inset 1px 1px 5px rgba(255, 255, 255, 0.6),
    2px 2px 5px rgba(0, 0, 0, 0.05); /* легкая внешняя тень */
    border: 1px solid rgb(48, 48, 48);
}