.letter-container.light {
    background-color: white;
  }
  .letter-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .letter-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .letter-container {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
   /* align-items: center;*/
  }