.post-card-container {
    width: 40vw;
    height: auto;
    /*border: 1px solid red;*/
}
.preview {
    /*transform: scale(0.6); /* уменьшить карточку до 60% размера */
    width: 400px;
    transform-origin: top left;
  }

  .onTable {
    width: 200px;
  }

  .inProfile {
    width: 35vw;
  }


.image-wrapper {
    width: 93%;
   height: auto;
    position: relative;
    
}
.post-image {
    width: 100%;
    height: auto;
    
   /* object-fit: cover;*/
}
.post-container {
    position: absolute;
    top: 23%;
    left: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px solid rgb(127, 127, 127);*/
    width: 72%;
    height: 67%;
}
.post-content {
    width: 100%;
    height: 85%;
    padding: 10px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
}
.post-title {
    text-align: center;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
}
.post-category {
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    font-size: small;
}