.navbar-shelf {
  width: 100%;
  border-bottom: 20px solid rgb(113, 75, 25);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  /*gap: 6px;*/
}
.menubox {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  background-color: rgb(225, 223, 185);
  /*margin-right: 8px;*/
  /*padding: 10px;
  text-align: center;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.tag {
  width: 40%;
  height: 10px;
  background-color: gray;
}
