.followers-list {
    list-style: none;
    margin-top: 20px;
}
.follower-item {
    display: flex;
    justify-content: space-between;
}
.myfollowers-inwardly-container {
    border: 1px solid pink;
    width: 50%;
}