.sideshelf-container {
    width: 100%;
    height: 25%;
    border: 15px solid rgb(124, 81, 34);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 10px;*/
}

.flowers-image {
    width: 100%;
    height: auto;
    /*margin-bottom: -2px;*/
  }
  .flowers {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*border: 1px solid red;*/
  }