.book-container.light {
    background-color: white;
  }
  .book-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .book-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .book-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   width: 100vw;
    height: 75vh;
    /*border: 1px solid red;*/
    margin: 0 auto;
  }