.gobackdoor {
  grid-area: gobackdoor;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
/*  border: 1px solid orange;*/
}
.goback-door-image {
  width: auto;
  height: 500px;
}
/*.door {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/