.gobackdoor {
  grid-area: gobackdoor;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid orange;
}
.goback-door-image {
  width: 100%;
  height: auto;
}
/*.door {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/