.authorbook-chapters-container.light {
    background-color: white;
  }
  .authorbook-chapters-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .authorbook-chapters-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .authorbook-chapters-container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /*align-items: flex-end;*/
  }