.posts-filter-container {
    width: 80vw;
    height: 100vh;
   /* border: 2px solid rgb(153, 88, 27);*/
}
.filter-container {
    width: 100%;
    height: 200px;
    border: 15px solid rgb(153, 88, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.post-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
  }

  .carouselContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  overflow: hidden;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .post-item {
    flex: 0 0 auto;
    width: 800px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    font-size: 24px;
    border-radius: 50%;
    transition: opacity 0.3s;
  }
  
  .leftArrow {
    left: 10px;
  }
  
  .rightArrow {
    right: 10px;
  }
  /* Можно добавить плавную прозрачность для скрытия */
.arrowHidden {
    opacity: 0;
    pointer-events: none; /* чтобы нельзя было кликнуть по невидимой кнопке */
  }
  
  /* Если хочешь, можешь добавить "disabled" стиль: */
  .arrow.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  