.book-composition {
  display: flex;
  gap: 20px;
}

.cover {
  width: 150px;
  height: 200px;
  background-color: rgb(222, 222, 222);
  /*background: url('book-cover.jpg') no-repeat center;
  background-size: cover;*/
}
.container {
    padding-block: 20px;
    max-width: 800px;
    margin: auto;
    border: 20px solid rgb(118, 61, 26);
    margin-top: 100px;
  }
  
  .loading, .error {
    text-align: center;
    font-size: 18px;
    color: red;
  }
  
  .bookList {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
  }
  
  .bookCard {
    border-block: 10px solid  rgb(118, 61, 26);
    padding: 15px;
    /*border-radius: 8px;*/
    /*background: #f9f9f9;*/
  }
  
  .bookCard h2 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  
  .annotation {
    font-style: italic;
    color: #555;
  }
  .welcome-text {
    text-align: center;
  }
  