.shelves-window {
  display: flex;
  height: 25vh;
}
.left-shelf,
.right-shelf{
  width: calc((100% - 10%) / 2);
  /*border: 1px solid orange;*/
}

.books-filter-bookcase {
display: flex;
border: 1px solid yellow;
align-items: flex-end;
height: 75vh;
}


.book-composition {
  display: flex;
  gap: 20px;
}

.cover {
  width: 150px;
  height: 200px;
  background-color: rgb(222, 222, 222);
  /*background: url('book-cover.jpg') no-repeat center;
  background-size: cover;*/
}


.container {
    padding-block: 20px;
    width: 50vw;
    min-width: 500px;
    margin: auto;
    border: 20px solid rgb(118, 61, 26);
    height: 75vh;
   
  }
  
  .loading, .error {
    text-align: center;
    font-size: 18px;
    color: red;
  }
  
  .bookList {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
  }
  
  .bookCard {
    border-block: 10px solid  rgb(118, 61, 26);
    padding: 15px;
    /*border-radius: 8px;*/
    /*background: #f9f9f9;*/
  }
  
  .bookCard h2 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  
  .annotation {
    font-style: italic;
    color: #555;
  }
  .welcome-text {
    text-align: center;
  }


  /*-----------------------bookcase--------------------*/
  .bookcase-image {
    height: 75vh;
    width: 100%;
    object-fit: cover;
  }
  .bookcase-container{
    width: 25vw;
    height: 75vh;
    
    display: flex;
    justify-content: left;
    align-items: flex-end;
   /*border: 1px solid red;*/
  }
  .left-books-shelf,
  .right-books-shelf {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }

  /*------------------------filter-------------------------------*/
  .filter-container{
    width: 25vw;
    height: 75vh;
    border: 1px solid brown;
  }
  