/*.book-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   width: 100vw;
    height: 75vh;
    border: 1px solid red;
    margin: 0 auto;
}*/

.table-container {
   width: 100%;
   height: auto;
   border: 1px solid green;
   /* display: flex;
    align-items: flex-end;*/
    
}

.table {
   width: 95%;
   height: 120px;
    background-color: rgb(93, 62, 32);
    margin: 0 auto;
    display: flex;

    justify-content: center;
    
    
}

.table-shelf {
    width: 50%;
    height: auto;
    border: 20px solid rgb(132, 89, 46);
}

.things-on-table {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   
    /*border: 1px solid black;*/
    margin: 0 auto;
}

.cover {
    width: 220px;
    height: 300px;
    background-color: rgb(232, 175, 134);
    border: 1px solid rgb(86, 45, 16);
    border-radius: 8px;
}

.book-info-container {
    width: 50%;
    height: 430px;
    border-inline: 15px solid rgb(132, 89, 46);
    border-top: 15px solid rgb(132, 89, 46);
    background-color: rgb(93, 62, 32);
    display: flex;
    flex-direction: column;
}
.book-title {
    width: 100%;
    height: 15%;
    border-bottom: 15px solid rgb(132, 89, 46);
}
.title{
    text-align: center;
}
.uzor-image {
    width: 100%;
    height: auto;
    /*border: 1px solid green;*/
    margin-top: -50px;
}
.book-main-info {
    width: 100%;
    height: 25%;
    border-bottom: 15px solid rgb(132, 89, 46);
}
.book-annotation {
    width: 100%;
    height: 60%;
    border-bottom: 15px solid rgb(132, 89, 46);
    position: relative;
}
.plakat-image {
    width: 100%;
    height: auto;
   object-fit: cover;
    /*border: 1px solid blue;*/
}
.annotation {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 20%;
    left: 10%;
}
.shelf-and-cover {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flowers-image {
    width: 100%;
    height: auto;
}

.flower-container {
    width: 20%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}