.account-container {
    width: 85%;
    background-color: rgb(106, 89, 60);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.user-info{
    margin-bottom: 150px;
}
.username {
    text-align: center;
    margin-bottom: 20px;
}
.bookslist {
list-style: none;
border-bottom: 15px solid rgb(91, 60, 32);
height: 50%;
}
.door {
    width: 280px;
    height: 500px;
    position: relative;
    background-color: rgb(91, 60, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}

.handtag{
width: 20px;
height: 20px;
border-radius: 50%;
background-color: rgb(83, 69, 36);
position: absolute;
top: 50%;
left: 5%;
border: 1px solid white;;
}
.ondoor-things {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   /* border: 1px solid gray;*/
    align-items: center;
}
.mailbox {
    width: 120px;
    height: 85px;
    background-color: rgb(61, 45, 24);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.hole {
    width: 80px;
    height: 7px;
    background-color: rgb(40, 30, 17);
    border-radius: 4px;
}

.books-posts {
    border-block: 15px solid rgb(91, 60, 32);
    margin-bottom: 150px;
    width: 40%;
    height: 70%;
}
.postslist {
    list-style: none;
    height: 50%;
    border-top: 15px solid rgb(91, 60, 32);
}

