.author-book-container.light {
    background-color: white;
  }
  .author-book-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .author-book-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .author-book-container {
    display: flex;
    justify-content: space-around;
  
    align-items: flex-end;
   width: auto;
    height: 100vh;
    border: 1px solid red;
    margin: 0 auto;
  }