.create-book-container.light {
    background-color: white;
  }
  .create-book-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .create-book-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .create-book-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
  }