.sidewindow {
  flex-basis: 15%; /* Боковое окно занимает ровно 50% пространства */
  flex-shrink: 0; /* Не даём уменьшаться */
  display: flex;
  justify-content: center;

  /* border: 1px solid red;*/
}

.sidewindow-image {
  width: auto;
  height: auto; /* Высота окна равна высоте экрана */
}

.sidewindow.light {
  background-color: white;
}
.sidewindow.gray {
  background-color: rgb(185, 180, 166);
  color: rgb(26, 26, 26);
}
.sidewindow.dark {
  background-color: rgb(36, 36, 36);
  color: white;
}
