.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.modal {
  /*background: rgb(255, 255, 255);*/
  padding: 20px;
  border-radius: 8px;
  width: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.link {
  color:  rgb(172, 120, 43);
  text-decoration: none;
}
.text {
  margin-top: 15px;
}

/*----------------------------theme close-btn------------------------*/
.closelight {
  color: black;
}
.closegray {
  color: rgb(26, 26, 26);
}
.closedark {
  color: rgb(255, 255, 255);
}

/*----------------------------theme modal----------------------------*/
.light {
  background: #f5f5f5;
  color: black;
}

.gray {
  background: gray;
  color: rgb(201, 201, 201);
  border: 1px solid rgb(26, 26, 26);
}

.dark {
  background: rgb(26, 26, 26);
  color: white;
  border: 1px solid  rgb(218, 153, 54);
}
