.worktable-container {
  grid-area: worktable;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

/*.ontablethings {
  border: 1px solid red;
}*/

.upperpart {
  width: 80%;
  background-color: rgb(98, 61, 28);
  height: 30px;
  border-radius: 10px;
  /*border: 2px solid green;*/
}

.yashiki {
  display: flex;
  width: 80%;
}
.yashiki-left,
.yashiki-right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yashik {
  width: 90%;
  background-color: rgb(98, 73, 30);
  border: 1px solid rgb(0, 0, 0);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insidepart {
  background-color: rgb(122, 94, 45);
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.tag {
  width: 30%;
  margin-top: 5px;
  background-color: rgb(52, 52, 52);
  height: 20%;
  border-radius: 5px;
}

.yashik-text {
  background-color: rgb(147, 117, 83);
  padding: 4px 8px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  /*border: 1px solid rgb(41, 41, 41);*/
}
.switch-content-btn {
  width: 45%;
  outline: none;

  cursor: pointer;
  border-radius: 3px;
}
