.container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .dangerButton {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirmation {
    margin-top: 10px;
  }
  
  .confirmButton {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .cancelButton {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  