
/*------------comments form----------*/
.textarea {
    width: 85%;
    height: 100px;
    background-color: rgb(101, 62, 37);
    border-radius: 10px;
    padding: 5px;
}
.send-icon, .cancel-icon {
    width: 100%;
    height: auto;
}
.send-btn,.cancel-btn {
    width: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    /*border: 1px solid red;*/
    border: none;
    cursor: pointer;
}
.send-comment-form {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/*--------------Comments container------*/

.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*border: 1px solid green;*/
    /*height: 72%;*/
    height: 360px;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.comments::-webkit-scrollbar {
  display: none; /* Chrome, Safari  */
}

.comment-container {
    border: 1px solid gray;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;

}
.reply-container {
    list-style: none;
    width: 85%;
     border: 1px solid gray;
    padding: 5px;
     border-radius: 10px;
     margin-left: 20px;
     margin-top: 10px;
}
.username-text {
color: chocolate;
}
.date {
  font-size: x-small;
}

/*-------------delete comment-------*/
.delete-btn {
  background-color: transparent;
 outline: none;
 font-size: x-small;
  color: chocolate;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ff9999;
  cursor: not-allowed;
}

/*-----------------carousel--------------*/
.scrollButton {
  position: absolute;
  left: 50%;
   transform: translateX(-50%);
  z-index: 10;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  padding: 5px;
  transition: color 0.2s;

  &:hover {
    color: #000;
  }
}

.scroll-up {
  top: 4px;
  background-color: transparent;
  border: none;
}

.scroll-down {
  bottom: 4px;
  background-color: transparent;
  border: none;
}

.commentsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 400px;
  overflow: hidden;
  padding: 0 1rem; /* чтобы стрелки не перекрывали текст */
  scrollbar-width: none; /* Firefox */
}
/*.comments-wrapper::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
