.comments-case-container {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
   /* border: 1px solid rgb(255, 147, 92);*/
}
.comments-case {
    width: 100%;
    height: 75%;
    border: 15px solid rgb(101, 62, 37);
    background-color: rgb(87, 47, 17);
    display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
.image-wrapper {
    /*width: auto;
    height: 25%;*/
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flower-image {
   width: 35%;
   height: auto;
}
/*--------------Comments container------*/

.reply-container {
    list-style: none;
    width: 85%;
     border: 1px solid gray;
    padding: 5px;
     border-radius: 10px;
     margin-left: 20px;
     margin-top: 10px;
}