.main-container {
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
}
.main-container-3slides {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid green;
  }
.window {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.windownew {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: calc((150px + 20px) * 3 - 20px); /* Ширина окна для трех элементов с отступами */
    border: 1px solid orange;
  }
  .carousel-item {
    margin-right: 20px; /* Отступ между элементами */
  }
.all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.arrow {
    cursor: pointer;
}