/*-------------------------------------Themes--------------------------------*/
.room-container.light {
  background-color: rgb(214, 214, 214);
}
.room-container.gray {
  /*background-color: rgb(185, 180, 166);*/
  background-color: rgb(126, 120, 113);
  color: rgb(26, 26, 26);
}
.room-container.dark {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

/*-------------------------------------Room-------------------------------*/

.room-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "clock windows bookcase"
    "door table bookcase";
}



/*----------------------media queries-------------------*/
@media (max-width: 1000px) {
  .room-container {
 
  grid-template-columns: 30% 70% ;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "clock windows"
    "door tumba";
}
}