.myfollowings-container.light {
    background-color: white;
  }
  .myfollowings-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .myfollowings-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .myfollowings-container {
    height: 100vh;
  }