.table-container {
  grid-area: table;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
 /* border: 1px solid green;*/
}
.table-image {
  width: 100%;
  /*align-items: center;*/
  height: auto;
 /** margin-bottom: -10px;*/
}
.table {
  width: 100%;
  display: flex;
  justify-content: center;
  
  position: relative;
  cursor: pointer;
}


@media (max-width: 768px) {
  .table-container  {
    display: none;
  }
}
