.add-chapter-container.light {
    background-color: white;
  }
  .add-chapter-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .add-chapter-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .add-chapter-container {
    width: auto;
    height: 100vh;
  }