.chapters-container.light {
    background-color: white;
  }
  .chapters-container.gray {
    background-color: rgb(185, 180, 166);
    color: rgb(26, 26, 26);
  }
  .chapters-container.dark {
    background-color: rgb(36, 36, 36);
    color: white;
  }
  .chapters-container {
    width: auto;
    /*height: 100vh;*/
  }